.App {
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

/* .caro {
  display: inline;
  width: 80%;
  height: auto;
} */

.size-select {
  width: 3rem;
  height: 3rem;
  border: solid 0.15rem;
  border-radius: 50%;
}

.add-btn {
  width: 8rem;
}
