.App {
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.carcontainer {
  max-width: 80vh;
}

.size-select {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

/* .panel-container {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

@media (max-width: 760px) {
  * {
    padding: 0px;
    margin: 0px;
  }
}
